# Handling duplicate / redundant rows

In [1]:
import pandas as pd

df = pd.read_csv('iris-2.csv', header=None)

dups = df.duplicated()
dups

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [2]:
dups.any()

True

In [3]:
df[dups]

       0    1    2    3               4
34   4.9  3.1  1.5  0.1     Iris-setosa
37   4.9  3.1  1.5  0.1     Iris-setosa
142  5.8  2.7  5.1  1.9  Iris-virginica

In [5]:
#raja
df[df.apply(lambda s: list(s) == list(df.iloc[142,:]), axis=1)]

       0    1    2    3               4
101  5.8  2.7  5.1  1.9  Iris-virginica
142  5.8  2.7  5.1  1.9  Iris-virginica

In [5]:
df = pd.read_csv('iris-2.csv', header=None)
print(df.shape)

# delete duplicate rows
df.drop_duplicates(inplace=True)
print(df.shape)

(150, 5)
(147, 5)